body{
    margin: 0;
    padding: 0;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.background img{
    width: 100%;
    height: auto;
}

h1{
    display: flex;
    justify-content: center;
    background-color: white;
}



.cat_window{
    width:100%;
    height: 80vh;
    position:relative;
    
}

.poster{
    margin:3%;
}
.poster img{
    max-width: 300px;
}

.quote{
    position: absolute;
    bottom: 5px;
    color: white;
}
.quote h2{
    margin-bottom: 0;
}
.quote h3{
    margin-top: 0;
}

.bottom-section{
    display:flex;
    justify-content: center;
}

.form-box{
    padding:1px;
    display: flex;
    justify-content: center;
}